body{

display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin: 0;
padding: 0;
min-height: 100vh;
}


.App{
  display: flex;
 flex-wrap: wrap;
 max-width: 2000px;
 align-items: center;
 justify-content: center;
 margin: 0;
 padding: 0;
}

.card{
  width: auto;
  height: auto;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 10px 12px 5px rgba(133, 96, 96, 0.5);
  margin: 60px 0 0 0;
}

img{
  border-radius: 20px;
  margin: 15px 15px 5px 15px;
  width: 330px;
  height: 100%;
  border-radius: 50px;
}

h1{
  margin: 15px;
  font-size: 30px;
}

h2 {
  margin: 5px 0;
  padding: 0;
}

button{
  padding: 12px 25px;
  margin: 0px;
  background-color: rgb(124, 114, 114);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid #111111;
  border-left: none;
  cursor: pointer;
  font-size: 16px;
}

.header{
  margin: 0;
  padding: 0;
}

input{
  padding: 12px 20px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #111111;
  border-right: none;
  color: black;
  outline: none;
  font-size: 16px;
}

@media(max-width: 600px){
   
  img{
    width: 230px;
    height: 100%;
    border-radius: 50px;
  }
 

  
button{
  padding: 10px;
}

input{
  width: 180px;
  padding: 10px;
}


h1{
  margin: 15px;
  font-size: 24px;
}

h2{
  font-size: 18px;
}

}