body{
min-height: 100vh;
min-width: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
text-align: center;
}

.App{
  display: flex;
 flex-wrap: wrap;
 max-width: 2000px;
 align-items: center;
 justify-content: center;
}

.card{
  width: auto;
  height: auto;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 10px 12px 5px rgba(133, 96, 96, 0.5);
  margin: 40px 20px 20px 20px;
}

img{
  width: 300px;
  height: 200px;
  border-radius: 20px;
  margin: 5px 5px 0 5px;
}

h1{
  margin: 15px;
  font-size: 30px;
}

h2 {
  margin: 5px 0;
  padding: 0;
}

button{
  padding: 12px 25px;
  margin: 0px;
  background-color: rgb(124, 114, 114);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid #111111;
  border-left: none;
  cursor: pointer;
  font-size: 16px;
}

input{
  padding: 12px 20px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #111111;
  border-right: none;
  color: black;
  outline: none;
  font-size: 16px;
}